<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Students list</h1>
    {% if (student_list | length) == 0 %}
        <p>No student found. Add the students now!</p>
        <a href="/student/create" type="button">+ Add Student</a>
    {% else %}
        <table id="all-students">
            <tr>
                <th>SNo</th>
                <th>Roll Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Actions</th>
            </tr>
            {% for student in student_list %}
                <tr>
                    <td>{{ student["student_id"] }}</td>
                    <td><a href="/student/{{ student['student_id'] }}">{{ student["roll_number"] }}</a></td>
                    <td>{{ student["first_name"] }}</td>
                    <td>{{ student["last_name"] }}</td>
                    <td>
                        <a href="/student/{{ student['student_id'] }}/update" type="button">Update</a>
                        <a href="/student/{{ student['student_id'] }}/delete" type="button">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <a href="/student/create" type="button" style="padding-left: 150px;">+ Add Student</a>
    {% endif %}
</body>
</html>